/* Global */
:root {
    --primary-color: #FF00F7;
    --secondary-color: #990094;
    --gray-color: #CCCCCC;
    --dark-color: #4B1F4A;
    --light-color: #FFCCFD;
    --transition-time: 300ms;
}


/* Hero Section Styles */
.hero {
    transform: translateX(20px);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 15rem;
    padding: 80px 0;
    background: linear-gradient(135deg, #CA26FF 7%, #F4CAC0 85%, #FFF3B0 100% );
}

.hero .container {
    display: flex;
    gap: 100px;
}

.hero .content {
    flex-basis: 50%;
}

.hero h1 {
    font-weight: 500;
    font-size: 60px;
}

.hero h2 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 15px;
    margin-top: 16px;
}

.hero p {
    margin: 60px 0 20px;
    color: white;
    line-height: 150%;
    padding-right: 30px;
}

.hero .hero-image {
    min-width: 400px;
}

.hero .hero-image img {
    width: 100%;
}

.hero .btn {
    background-color: black;
    border: 2px solid black;
    color: var(--light-color);
    font-size: 22px;
}
.hero .btn:hover {
    color: black;
    background-color: transparent;
}
/*End Hero Section */

/* The Movies Section Styles */

.movies{
    margin-top: 40px;
}

.movies .title {
    display: flex;
    align-items: center;
}

.movies .title .line {
    height: 1px;
    background-color: black;
}

.movies .title span {
    padding: 0 10px;
}

.movies .title .line:first-of-type {
    width: 50px;
}
.movies .title .line:last-of-type {
    flex: 1;
}

.movies .cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.movies .cards .card{
    flex-basis: 180px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: scale var(--transition-time);

    &:hover {
        scale: 1.02;
    }
}
.movies .cards .card img{
    width: 180px;
    height: 270px;
    border-radius: 35px;
}
.movies .cards .card .btn {
    background-color: var(--dark-color);
    color: white;
    width: 100%;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
}
/* End the movies section */

/* The Categories Section */
.categories {
    margin-top: 140px;
}

.categories ul {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.categories ul::before {
    position: absolute;
    content: "";
    width: calc(100% + 50px);
    height: 1px;
    background-color: var(--gray-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.categories ul li {
    position: relative;
    width: 69px;
    text-align: center;
    color: #5D5D5D;
    cursor: pointer;
    transition: color var(--transition-time);
}
.categories ul li.active,
.categories ul li:hover {
    color: black;
}
.categories ul li.active::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #933C24;
    border-radius: 2rem;
    left: 0;
    bottom: -10px;
}

.categories .container {
    display: flex;
    justify-content: center;
}

.categories .cards {
    width: 80%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.categories .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories .cards .card img {
    width: 100%;
    height: 300px;
}
.categories .cards .card p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 12px;
}
/* End the movies section */


/* The Services Section */

.services {
    margin-top: 140px;
}

.services .container:last-of-type {
    display: flex;
    justify-content: center;
}

.services .cards {
    display: flex;
    margin-top: 50px;
    gap: 25px;
}

.services .cards .card {
    background-color: white;
}

.services .cards .card .content {
    padding: 40px 20px;
    font-size: 18px;
}

.services .cards .card .content p {
    margin-bottom: 35px;
}

.services .cards .card .feature {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.services .cards .card .feature span:last-of-type{
    width: 50%;
}

.services .cards .card .head,
.services .cards .card .buy {
    background-color: var(--dark-color);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
}
.services .cards .card a {
    color: white;
}

.services .cards .card .head {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.services .cards .card .buy {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* End the services section */