:root {
    --primary-color: #FF00F7;
    --secondary-color: #990094;
    --gray-color: #CCCCCC;
    --dark-color: #4B1F4A;
    --light-color: #FFCCFD;
    --transition-time: 300ms;
}



.hero {
    position: relative;
}
.hero .hero-image {
    height: 100vh;
}
.hero img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

.hero img:nth-child(1) {
    opacity: 1;
    animation: hide 1s 2s forwards;
}
.hero img:nth-child(2) {
    animation: slide 12s infinite;
}

.hero img:nth-child(3) {
    animation: slide 12s 4s infinite;
}

.hero img:nth-child(4) {
    animation: slide 12s 8s infinite;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    opacity: .75;
}
.hero p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    font-size: 3rem;
    color: white;
}
.hero .bullets {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.hero .bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--gray-color);
    cursor: pointer;
}
.hero .bullet.active {
    background-color: white;
    scale: 1.5;
}

.seperate .arrow-down i{
    color: var(--dark-color);
    font-size: 3rem;
}

.seperate .line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-block: 70px;
}

.movies .filter {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
}
.movies .filter > input {
    outline: none;
    border: none;
    background-color: #eee;
    padding: 15px 25px;
    border-radius: 1rem;
    width: 300px;

    &::placeholder {
        color: #594040;
    }
}

.movies .filter .select {
    padding: 15px 25px;
    border-radius: 1rem;
    display: flex;
    background: white;
    gap: 10px;
    border: 2px solid var(--dark-color);
    cursor: pointer;
}
.movies .filter select {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    appearance: none;
    color: var(--dark-color);
    font-weight: 600;
    pointer-events: none;
    user-select: none;
}
.movies .filter .select span {
    rotate: 90deg;
}

.movies .cards {
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.movies .cards .card {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 1rem;
}
.movies .cards .card:hover .content{
    bottom: 0;
}
.movies .btn {
    background-color: var(--secondary-color);
    color: white;
    padding: 15px 20px;
    width: 150px;
    margin-top: 40px;
    text-align: center;
    margin-inline: auto;
}
.movies:has(.btn:focus) {
    & .btn {
        opacity: .7;
        pointer-events: none;
    }

    & .card .content {
        bottom: 0;
    }
}
.movies .cards .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.movies .cards .card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100%;
    left: 0;
    transition: bottom var(--transition-time) ease-in-out;
}
.movies .cards .card .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    opacity: .8;
    border-radius: 1rem;
    color: white;
}
.movies .cards .card .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    padding: 20px;
    box-sizing: border-box;

    & h4 {
        letter-spacing: 4px;
        font-weight: 600;
    }

    & p {
        font-size: 13px;
        margin-bottom: 20px;
        line-height: 30px;
    }

    & .rating {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & div {
            color: gold;    
        }
        & > i {
            color: white;
            cursor: pointer;
            font-size: 20px;
        }
    }
}




@keyframes slide {
    0%, 33% {
        opacity: 0;
    }
    33%, 66% {
        opacity: 1;
    }
    66%, 100% {
        opacity: 0;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}