
:root {
    --primary-color: #FF00F7;
    --secondary-color: #990094;
    --gray-color: #CCCCCC;
    --dark-color: #4B1F4A;
    --light-color: #FFCCFD;
    --transition-time: 300ms;
}



.hero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        font-size: 3rem;
    }
    & p span {
        color: var(--primary-color);
    }
}

.arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--dark-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 50px auto 0;
}
.seperate .arrow-down i{
    color: var(--dark-color);
    font-size: 3rem;
}

.seperate .line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-block: 70px;
}

.pricing,
.special-pricing {
    margin-top: 100px;
}

.pricing .cards {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    justify-content: center;
    gap: 120px;
    margin-top: 80px;
}
.pricing .cards .card,
.special-pricing .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px var(--primary-color);
    height: 400px;
    width: 340px;

    & h4{
        margin-top: 20px;
        text-align: center;
        font-size: 2rem;
        padding-block: 20px;
        border-bottom: 1px solid black;
    }

    & .content {
        margin-top: 20px;
        padding: 20px;

        & h6 {
            font-weight: bolder;
            margin-bottom: 30px;
        }
        & p {
            display: flex;
            gap: 10px;
            font-size: 14px;
            font-weight: lighter;
            padding-left: 10px;
            margin-top: 20px;
            line-height: 20px;

            &::before {
                content: "";
                display: inline-block;
                width: 5px;
                height: 5px;
                background-color: black;
                border-radius: 50%;
                margin-top: 6px;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        & button {
            width: 50%;
            color: white;
            background-color: var(--secondary-color);
            font-size: 1.2rem;
        }
    }
}


.special-pricing .cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 80px;
}